body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .alignleft {
  float: left;
  text-align:left;
} */

/* .aligncenter {
  text-align:center;
  margin: auto;
}
.alignright {
  float: right;
} */

.red-btn {
  padding: 8px;
}

.flex-left-to-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between
}

.grey-background {
  background-color: rgba(158, 176, 192, 0.424);
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.gridlines {
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

.extend-to-fill-height {
  min-height: 700px;
  height: auto;
  position: relative
}

.full-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.inner-center {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

